[Desktop Entry]
Name=PiHomeController
Comment=Start web browser for pihome controller
Exec=chromium-browser http://localhost:8000 --start-fullscreen --kiosk --incognito --noerrdialogs --disable-translate --no-first-run --fast --fast-start --disable-infobars --disable-features=TranslateUI --disk-cache-dir=/dev/null  --password-store=basic