[Unit]
Description=Quote data manager for PiHome
After=network.target

[Service]
User=pi
Group=pi
ExecStart=/opt/pihome/scripts/quote_mgr.py
ExecReload=/usr/local/bin/kill --signal HUP $MAINPID
KillSignal=SIGTERM
WorkingDirectory=/opt/pihome/
EnvironmentFile=/opt/pihome/.env/datanode.env

[Install]
WantedBy=multi-user.target