<div class="w3-sidebar w3-bar-block w3-gray w3-card w3-animate-right" style="display:none; width:33%; right:0" id="notif_bar" >
    <div class="w3-bar-block w3-center">
    <h6><b>Notifications</b></h6>
    <button class="w3-button w3-blue" onclick="clear_all_notifications()" id="mark_all"><i class="fas fa-envelope-open-text"></i>&nbsp;Mark All As Read</button>
    <br>
    <span id="notif_counts"></span>
    </div>
    <div id="notifications" style"max-height:100%; overflow-y:scroll"></div>
</div>